.cards {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  padding: 50px;
  background-color:rgb(247, 160, 0);
}
.br{
  margin-top: 10px;
}
.cards h1{
  text-align: center;
  color: white;
  vertical-align: middle;
}
.cards .text{
  background-color:rgb(247, 160, 0);
  text-align: justify;
  color: white;
  vertical-align: middle;
  font-size: 20px;
}
.head{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  padding: 20px;
  background-color:rgb(247, 160, 0);
  text-align: center;
  color: white;
  vertical-align: middle;
  font-size: 70px;
}
.footer{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  padding: 20px;
  background-color:rgb(247, 160, 0);
  text-align: center;
  color: white;
  vertical-align: middle;
}